* {
  margin: 0;
  padding: 0;
}
.container-div {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(16, 20px);
  gap: 0;
}
.div-grid {
  margin: 0;
  border: 1px solid gray;
  height: 20px;
  width: 20px;
}
